{% extends "base.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Autor</th>
        <th>Linguagem</th>
        <th>Número de Stars</th>
        <th>Número de Forks</th>
        <th>Data da última atualização</th>
      </tr>
    </thead>
    <tbody>
      {% for repo in repos %}
        <tr>
          <td>{{ repo.name_repo }}</td>
          <td>{{ repo.descricao }}</td>
          <td>{{ repo.autor }}</td>
          <td>{{ repo.language }}</td>
          <td>{{ repo.star_numbers }}</td>
          <td>{{ repo.fork_numbers }}</td>
          <td>{{ repo.date_last_update }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        columns: [
          {orderable: false, searchable: false},
          {orderable: false, searchable: false},
          {orderable: false, searchable: false},
          {orderable: false, searchable: false},
          {orderable: false, searchable: false},
          {orderable: false, searchable: false},
          {orderable: false, searchable: false},
          ],
      });
    });
  </script>
{% endblock %}